@model List<User>

<div class="container-sidebar justify-content-center text-center">
    <div class="create-search-sidebar">
        <a class="btn btn-info w-100"
           asp-controller="Users"
           asp-action="GeneratePdfReport">
            Generate PDF report
        </a>
        <hr />
    </div>

    <div class="table-container col-9">
        <h3>List of all employees:</h3>

        <table class="table table-secondary table-striped table-bordered border-secondary-subtle mt-4 shadow">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Position</th>
                    <th>Seniority</th>
                    <th>Days Off <br />(V | P | U | SL)</th>
                    <th>Employment Start Date</th>
                    <th>Employment End Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr id="@item.Id">
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Position.Title</td>
                        <td>@item.Position.SeniorityLevel</td>
                        <td>@item.DaysOff.Vacation | @item.DaysOff.Paid | @item.DaysOff.Unpaid | @item.DaysOff.SickLeave</td>
                        <td>@item.EmploymentStartDate</td>
                        <td>
                            @(item.EmploymentEndDate.HasValue
                                                    ? @item.EmploymentEndDate.Value
                                                    : string.Empty)
                    </td>
                </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

